html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
}

.form-share {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-share .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-share .form-control:focus {
  z-index: 2;
}
a.disabled {
  color: gray;
  pointer-events: none;
}

.jumbotron{
  margin-bottom: 0px;
  margin-bottom: 20px;
}

.bmd-form-group .checkbox label, .bmd-form-group .radio label, .bmd-form-group label{
  color: #f5f5f5;
}
.bmd-form-group .custom-file-control, .bmd-form-group .form-control, .bmd-form-group input::placeholder, .bmd-form-group label{
  color: #f5f5f5;
}

.hubzilla{
  background: #43488a;
}

.diaspora{
  background: #222222;
}

.gnusocial{
  background: #a22430;
}

.mastodon{
  background: #2b90d9;
}
